<p id="notice"><%= notice %></p>

<h1>Current Blog Posts</h1>

  <% @posts.each do |post| %>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><%= post.title %></div>
      <div class="panel-body"><b><%= post.author %></b> on <%= post.created_at.strftime("%A, %d %b %Y at %l:%M %p") %><br/> <%= post.blog_entry %></div>
      <div class="panel-footer">
        <div class="btn-group">
          <%= link_to 'Show', post, :class => "btn btn-primary" %>
          <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>

<br>

<%= link_to 'create a new blog post', new_post_path %>
